

img {
    max-width: 100%;
}

body {
    font-family: Jost;
}



.text-preview {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


h1, h2, h3 {
    font-family: Cinzel, serif;
}

.cormorant {
    font-family: Cormorant Infant, serif;
    font-weight: 800;
}


.contact-div {
    background: linear-gradient(45deg,#F2C0C0, #ACE1EF, #B5EAC8, #FFF9F3);
    padding: 100px;
}
