

img {
    max-width: 100%;
}

body {
    font-family: Jost;
    background-color: #111;
    color: #FFF9F3;
}

.cormorant {
    font-family: Cormorant Infant, serif;
    font-weight: 800;
}





/* ------------------------ index-page ------------------------ */

#index-page h1, #index-page h2, #index-page h3 {
    font-family: Cinzel, serif;
    color: #F2C0C0;
}


/* Header */


.banner {
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.list-unstyled li a {
    color: #FFF9F3;
}

#index-nav:first-child {
    color: #F2C0C0;
}

/* Services */

.service-item {
    position: relative;
    text-align: center;
}

.service-text {
    position: absolute;
    background-color: #F2C0C0;
    
}
/* how can i make this ocupy the entire image behind it? */



/* Insights */

.text-preview {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.insights-img div img {
    border-radius: 100px;
}

.btn-insight {
    background-color: #F2C0C0;
    border-radius: 40px;
    padding: 0.5rem 1.3rem;
}

.middle-higher {
    margin-top: -50px;
}


/* Contact */

.contact-div {
    background: linear-gradient(45deg,#F2C0C0, #ACE1EF, #B5EAC8, #FFF9F3);
    padding: 0 0 10px 0;
    color: #111;
}


/* Footer */

footer {
    background-color: #111;
    font-family: Jost;
    font-size: 0.8rem;
}

.hr-home {
    color: #F2C0C0;
}


/* -------------------------- about-page ---------------------------- */

#about-page h1, #about-page h2, #about-page h3 {
    font-family: Cinzel, serif;
    color: #B5EAC8;
    padding: 0.5rem 0 1rem 0;
}

.banner-about {
    background-image: url('../images/journey.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

#skills {
    background-color: #B5EAC8;
}

.hr-about {
    color: #B5EAC8;
}

/* --------------------------- contact-page -------------------------- */

.banner-contact {
    background-image: url('../images/contact.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

#contact-page h1, #contact-page h2, #contact-page h3 {
    font-family: Cinzel, serif;
    color: #ACE1EF;
    padding: 0.5rem 0 1rem 0;
}

.contact-form input.form-control,
.contact-form textarea.form-control {
    background-color: #FFF9F3;
}

.form-group label {
    color: #FFF9F3;
}

.datepicker {
	width: 95%;
	max-width: 350px;
	background-color: #FFF9F3;
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
	padding: 1rem;
}

.month-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#ACE1EF;
	border-radius: 50px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}

.month-name {
	font-weight: 600;
    color: #111;
    font-size: 1.5rem;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	color: #ACE1EF;
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
    margin-top: 1rem;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
}

.faded {
	color: #999;
    font-weight: 400;
}

.current-day {
	background-color: #ACE1EF;
    border-radius: 50px;
}

#my-email {
    color: #FFF9F3;
}

.hr-contact {
    color: #ACE1EF;
}

.send-button {
    background-color: #ACE1EF;
    border-radius: 40px;
    padding: 0.5rem 1.3rem;
}
