:root {
    --primary-color: #F2C0C0;
    --secondary-color: #B5EAC8;
    --tertiary-color: #ACE1EF;
    --background-color: #111;
    --text-color: #FFF9F3;
    --font-main: 'Jost', sans-serif;
    --font-secondary: 'Cormorant Infant', serif;
    --font-heading: 'Cinzel', serif;
    --border-radius-banner: 24% 95% 46% 62% / 81% 31% 50% 33%;
    --border-radius-services: 45% 31% 20% 57% / 50% 72% 51% 36%;
    --border-radius-insights: 27% 67% 35% 47% / 55% 25% 62% 24%;
}

body {
    font-family: var(--font-main);
    background-color: var(--background-color);
    color: var(--text-color);
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.skip-links a {
    position: absolute;
    top: -4em;
    background-color: black;
    color: rgb(255, 252, 241);
    padding: 1em;
}
  
.skip-links a:focus {
    top: 0;
}

img {
    max-width: 100%;
}

.cormorant {
    font-family: var(--font-secondary);
    font-weight: 800;
}

h1, h2, h3 {
    font-family: var(--font-heading);
}

header {
    position: relative;
}

.btn {
    transition: background-color 0.3s ease, transform 0.8s ease, border-radius 1s ease; 
    border: none;
}

.btn:hover,
.btn:focus {
    background-color: var(--text-color);
    transform: scale(1.2);
    border-radius: 52% 77% 81% 40% / 29% 78% 56% 76% ;
    color: #111;
}

/* ------------------------ index-page ------------------------ */

#index-page h1, #index-page h2, #index-page h3 {
    color: var(--primary-color);
}

#index-page .cls-1 {
    fill: var(--primary-color);
}

/* Header */

.banner {
    background-image: url('../images/banner-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;
}

.banner {
    position: relative;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden; 
}

#index-page .banner {
    background-image: url(../images/banner-1.jpg);
}

#about-page .banner {
    background-image: url(../images/banner-green-3.jpg);
}

#contact-page .banner {
    background-image: url(../images/banner-blue-4.jpg);
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11111120;
    backdrop-filter: blur(12px);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -20%);
    text-shadow: 2px 2px 5px #11111150;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.37);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: var(--border-radius-banner);
    padding: 30px 30px 15px 30px;
    backdrop-filter: blur(5px);
}

#index-page .list-unstyled li a {
    color: var(--primary-color);
    text-decoration: none;
}

#index-page .list-unstyled li a:hover {
    text-decoration: none;
}

#index-page .list-unstyled li a:focus,
#index-page .list-unstyled li a.active {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.custom-shape-divider-bottom-1722697010 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1722697010 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}

.custom-shape-divider-bottom-1722697010 .shape-fill {
    fill: var(--background-color);
}

#index-page nav .cormorant {
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
    transition: transform 0.8s ease, border-radius 1s ease, color 0.3s ease;
    position: relative;
}

#index-page nav .cormorant:hover,
#index-page nav .cormorant:focus,
#index-page nav .cormorant:active {
    transform: scale(1.2);
    border-radius: var(--border-radius-banner);
    text-decoration: underline; 
    outline: none; 
}

#index-page nav .fa-circle {
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 3px;
    transition: background-color 0.3s ease, transform 0.8s ease, border-radius 0.4s ease;
}

#index-page nav .cormorant:hover .fa-circle,
#index-page nav .cormorant:focus .fa-circle,
#index-page nav .cormorant:active .fa-circle {
    background-color: var(--primary-color);
    transform: scale(1.3);
    border-radius: 52% 77% 81% 40% / 29% 78% 56% 76%;
}

/* Services + Insights */

.service-item img {
    border-radius: var(--border-radius-services) ;
}

.service-item {
    position: relative;
    text-align: center;
}

.img-service {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #11111120; 
    border-radius: 100px;
    z-index: 1;
}

.service-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--text-color);
    background-color: #11111180; 
    padding: 10px 20px;
    border-radius: 100px;
}

.service-text p {
    margin: 0;
}

/* Insights */

.text-preview {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3; 
    box-orient: vertical; 
}

.insights-img div img {
    border-radius: var(--border-radius-insights);
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

.btn-insight {
    background-color: var(--primary-color);
    border-radius: 40px;
    padding: 0.5rem 1.3rem;
}

.middle-higher {
    margin-top: -50px;
}

/* add glass effect in the future to the insights */

/* Contact */

.contact-div {
    background: linear-gradient(45deg, var(--primary-color), var(--tertiary-color), var(--secondary-color), var(--text-color));
    padding: 70px 0;
    color: var(--background-color);
    position: relative;
}

.custom-shape-divider-top-1722698067 {
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    max-width: 100%;
}

.custom-shape-divider-top-1722698067 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 54px;
}

.custom-shape-divider-top-1722698067 .shape-fill {
    fill: #111111;
}


.custom-shape-divider-bottom-1722698429 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1722698429 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1722698429 .shape-fill {
    fill: var(--background-color);
}

/* Footer */

footer {
    background-color: var(--background-color);
    font-family: var(--font-main);
    font-size: 0.8rem;
}

.hr-home {
    color: var(--primary-color);
}

#index-page .footer-icon {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--primary-color);
    text-shadow: 2px 2px 5px #11111190;
    border-radius: 40px;
    padding: 0.5rem;
    transition: background-color 0.3s ease, transform 0.8s ease, border-radius 0.4s ease, text-shadow 0.3s ease; 
}

#index-page .footer-icon:hover,
#index-page .footer-icon:focus {
    background-color: #FFF9F3;
    transform: scale(1.3);
    border-radius: 52% 77% 81% 40% / 29% 78% 56% 76% ;
    color: var(--primary-color);
    text-shadow:
        -2px -1px 0 #000,  
        2px -1px 0 #000,
        -2px 1px 0 #000,
        2px 1px 0 #000;
}

/* -------------------------- about-page ---------------------------- */

#about-page h1, #about-page h2, #about-page h3 {
    color: var(--secondary-color);
    padding: 0.5rem 0 1rem 0;
}

#about-page .list-unstyled li a {
    color: var(--secondary-color);
    text-decoration: none;
}

#about-page .list-unstyled li a:hover {
    text-decoration: none;
}

#about-page .list-unstyled li a:focus,
#about-page .list-unstyled li a.active {
    text-decoration: underline;
    text-decoration-style: wavy;
}

#about-page .cls-1 {
    fill: var(--secondary-color);
}

#about-page nav .cormorant {
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
    transition: transform 0.8s ease, border-radius 1s ease, color 0.3s ease;
}

#about-page nav .cormorant:hover {
    transform: scale(1.2);
    border-radius: var(--border-radius-banner);
}

#about-page nav .fa-circle {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 3px;
    transition: background-color 0.3s ease, transform 0.8s ease, border-radius 0.4s ease;
}

#about-page nav .cormorant:hover .fa-circle {
    background-color: var(--secondary-color);
    transform: scale(1.3);
    border-radius: 52% 77% 81% 40% / 29% 78% 56% 76%;
}

.yet-to-discover div img {
    max-height: 500px;
    border-radius: 23% 77% 23% 77% / 66% 32% 68% 34% ; 
}

#skills {
    background-image: url('../images/bubbles.jpg');
    background-position: bottom;
    border-radius: 50px;
    padding: 30px 0;
}

#skills h2 {
    text-shadow: 2px 2px 5px #11111199;
}

.skills-brands {
    color: var(--secondary-color);
    text-shadow: 2px 2px 5px #11111199;
    cursor: pointer;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    border-left: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.hr-about {
    color: var(--secondary-color);
}

#about-page .footer-icon {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--secondary-color);
    text-shadow: 2px 2px 5px #11111190;
    border-radius: 40px;
    padding: 0.5rem;
    transition: background-color 0.3s ease, transform 0.8s ease, border-radius 0.4s ease, text-shadow 0.3s ease; 
}

#about-page .footer-icon:hover {
    background-color: #FFF9F3;
    transform: scale(1.3);
    border-radius: 52% 77% 81% 40% / 29% 78% 56% 76% ;
    color: var(--secondary-color);
    text-shadow:
        -2px -1px 0 #000,  
        2px -1px 0 #000,
        -2px 1px 0 #000,
        2px 1px 0 #000;
}

/* --------------------------- contact-page -------------------------- */

#contact-page .cls-1 {
    fill: var(--tertiary-color);
}

#contact-page .list-unstyled li a {
    color: var(--tertiary-color);
    text-decoration: none;
}

#contact-page .list-unstyled li a:hover {
    text-decoration: none;
}

#contact-page .list-unstyled li a:focus,
#contact-page .list-unstyled li a.active {
    text-decoration: underline;
    text-decoration-style: wavy;
}

#contact-page h1, #contact-page h2, #contact-page h3 {
    color: var(--tertiary-color);
    padding: 0.5rem 0 1rem 0;
}

#contact-page nav .cormorant {
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
    transition: transform 0.8s ease, border-radius 1s ease, color 0.3s ease;
}

#contact-page nav .cormorant:hover {
    transform: scale(1.2);
    border-radius: var(--border-radius-banner);
}

#contact-page nav .fa-circle {
    cursor: pointer;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    padding: 3px;
    transition: background-color 0.3s ease, transform 0.8s ease, border-radius 0.4s ease;
}

#contact-page nav .cormorant:hover .fa-circle {
    background-color: var(--tertiary-color);
    transform: scale(1.3);
    border-radius: 52% 77% 81% 40% / 29% 78% 56% 76%;
}

.contact-form input.form-control,
.contact-form textarea.form-control {
    background-color: var(--text-color);
}

.form-group label {
    color: var(--text-color);
}

.datepicker {
	width: 95%;
	max-width: 350px;
	background-color: var(--text-color);
	border-radius: 10px;
	box-shadow: 0 0 2px 0 #00000020, 0 5px 10px 0 #00000010;
	padding: 1rem;
}

.month-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color: var(--tertiary-color);
	border-radius: 50px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 #00000025, 0 0 10px 0 #00000015;
}

.month-name {
	font-weight: 600;
    color: var(--background-color);
    font-size: 1.5rem;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	color: var(--tertiary-color);
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
    margin-top: 1rem;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
}

.faded {
	color: #999;
    font-weight: 400;
}

.current-day {
	background-color: var(--tertiary-color);
    border-radius: 50px;
}

#my-email {
    color: var(--text-color);
}

.hr-contact {
    color: var(--tertiary-color);
}

.send-button {
    background-color: var(--tertiary-color);
    border-radius: 40px;
    padding: 0.5rem 1.3rem;
}

#contact-page .footer-icon {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--tertiary-color);
    text-shadow: 2px 2px 5px #11111190;
    border-radius: 40px;
    padding: 0.5rem;
    transition: background-color 0.3s ease, transform 0.8s ease, border-radius 0.4s ease, text-shadow 0.3s ease; 
}

#contact-page .footer-icon:hover {
    background-color: #FFF9F3;
    transform: scale(1.3);
    border-radius: 52% 77% 81% 40% / 29% 78% 56% 76% ;
    color: var(--tertiary-color);
    text-shadow:
        -2px -1px 0 #000,  
        2px -1px 0 #000,
        -2px 1px 0 #000,
        2px 1px 0 #000;
}